@import "reset.css";
@font-face {
    font-family: Galano;
    src: url(Galano_Grotesque_DEMO_Bold.otf);
}
body{
    background-color: #d7344b;
}

.logo{
    position: absolute;
    top: 45%;
    left: 45%;
    height: 10%;

}
.logo span{
    font-family: Galano, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

.buttons {
    position: absolute;
    top: 25%;
    right: 3%;
    height: 50%;


}
    li {
        padding-top: 20px;
    }


/*social buttons animation*/

.social {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

.social:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}