@import "reset.css";
body{
    background-color: #d7344b;
}
.wrapper{

}
.logo{
    margin: 0 auto;
}
.buttons {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 30%;
    margin: -15% 0 0 -25%;
}   
    li{
    padding-top: 19px;
}
