@import "reset.css";
@font-face {
    font-family: Galano;
    src: url(Galano_Grotesque_DEMO_Bold.otf);
}
body{
    background-color: #d7344b;
}


.logo{
    position: absolute;
    top: 45%;
    left: 45%;
    height: 10%;

}
.logo span{
    font-family: Galano, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;

}

.buttons {
    position: absolute;
    top: 45%;
    right: 20px;
    height: 30%;
    margin: -15% 0 0 -25%;
}
    li {
        padding-top: 20px;
    }


